/* GENERAL */

section{
	padding-top:20px;
	padding-bottom:20px;
}

/*  NAVBAR */
.first-nav{
	background-color:#1abc9c
}
.nav-item a{
	color : black;
}
.nav-item a:hover{
	color : white;
}
.logo img{
	width:500px;
	height:100px;
}
.social-network{
	text-align: right;
}
.contact p{
	margin-bottom:2px !important;
}

/* SECTION HEADER */
#header{
	background-color: #f2f0e9;
	padding:5px !important;
}
.fa-search{
	color:black;
}

/* SECTION NEWS */
.carousel-item img{
	height : 400px !important;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#news{
	background-color: black;
}

/*  CARD CONCERT */
.filter{
	margin-bottom: 20px;
	background-color:  #d0ddda;
	padding-top: 5px;
	padding-bottom: 5px;
}
.fa-search{
	color:black;
}
form{
	margin-left: 30px;
}
.card{
	margin-bottom: 30px;
}
.card-body p{
	color: black !important;
	text-decoration: none !important;
}

/*   CONCERT HALL */

#concert-hall{
	background-color: #1abc9c;
}

.label-hall{
	color: black;
	
}

/*  INFORMATIONS */

#informations{
	background-color: black;
}

.label-informations{
	color: white;
	
}

